.square{
  background-color: white;
  height: 100px;
  width: 100px;
  font-size: 40px;
  vertical-align: top;
}

.square:active{
  background-color: rgb(104, 104, 104);
  height: 100px;
  width: 100px;
  font-size: 40px;
  vertical-align: top;
}

.background{
  background-color: white;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.announcement{
  color: black;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.game-info{
  position: absolute;
  top: 30%;
  left: 65%;
  scale: 1.5;
  line-height: 180%;
}

.game-board{
  background-color: black;
}

.history-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 43px;
  background: #FFF;
}

.history-button:active{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 43px;
  background: rgb(104, 104, 104);
}